<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <pages enableViewStateMac="false"/>
      <machineKey validationKey="160854109C71B646CA360DCB8EF1923C16FC49AFB9B8D59CDE2318D8372B43DD91B02E81AFB665F517B4FAF892FE363F0D2B2D1811DA791F554013C4307C6BBA" decryptionKey="721C9ABC1A9604111D5D7BD71DAF8272F54F879E701D243E" validation="SHA1"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
